﻿@model TravelerPortal.WebUI.Views.Events.ScheduleVM
@using TravelerPortal.WebUI.Helpers

<h1>Расписание мероприятий</h1>
<table>
    @foreach (var eventsGroup in Model.Events.OrderBy(e => e.StartDate).GroupBy(e => e.StartDate.Month))
    {
        <tr>
            <td style="text-align: center; font-weight: bold;" colspan="4"><br>@eventsGroup.First().StartDate.ToString("MMMM")</td>
        </tr>
        foreach (var _event in eventsGroup)
        {
        <tr>
            <td style="width: 50%"><a href="@_event.Url">@_event.Name</a></td>
            <td style="width: 30%; text-align: center;">@_event.StartDate.ToShortDateString()&nbsp;-&nbsp;@_event.EndDate.ToShortDateString()</td>
            <td style="width: 10%; text-align: center;">@_event.AmountOfDays&nbsp;@Html.GetDeclantionForDaysNumber(_event.AmountOfDays)</td>
            <td style="width: 10%; text-align: center;">@_event.Price_UAH_&nbsp;грн.</td>
        </tr>  
        }
    }
</table>
<br>
<hr>
<br>
<div class="responsive-calendar">
    <div class="controls">
        <a class="pull-left" data-go="prev">
            <div class="btn"><i class="icon-chevron-left"></i></div>
        </a>
        <h4 class="timeInfo"></h4>
        <a class="pull-right" data-go="next">
            <div class="btn"><i class="icon-chevron-right"></i></div>
        </a>
    </div>
    <hr />
    <div class="day-headers">
        <div class="day header">Пн</div>
        <div class="day header">Вт</div>
        <div class="day header">Ср</div>
        <div class="day header">Чт</div>
        <div class="day header">Пт</div>
        <div class="day header">Сб</div>
        <div class="day header">Вс</div>
    </div>
    <div class="days" data-group="days">
    </div>
</div>

@section FooterScripts
{
    <script src="~/Content/widgets/responsive-calendar-0_4/js/responsive-calendar.min.js"></script>
    <script>
        $(document).ready(function () {
            var dateStr = new Date().getFullYear() + "-" + (new Date().getMonth() + 1);
            $(".responsive-calendar").responsiveCalendar({
                time: dateStr,
                events: {
                    @foreach (var _event in Model.Events)
                    {
                        @Html.Raw(string.Format("'{0}': {{ 'url': '{1}' }},", _event.StartDate.ToString("yyyy-MM-dd"), _event.Url));
                    }
                },
                monthChangeAnimation: false,
                translateMonths: ["Январь", "Февраль", "Март", "Апрель", "Май", "Июнь", "Июль", "Август", "Сентябрь", "Октябрь", "Ноябрь", "Декарь"]
            });
        });
    </script>
}

@section Styles
{
    <link href="~/Content/widgets/responsive-calendar-0_4/css/responsive-calendar-bootstrap-combined.min.css" rel="stylesheet" />
    <link href="~/Content/widgets/responsive-calendar-0_4/css/responsive-calendar.css" rel="stylesheet" />
}
